# URL of your main website
NEXT_PUBLIC_SITE_URL=https://waverbot.com
PORT=3002

# Atlassian Statuspage Configuration
STATUSPAGE_PAGE_ID=9z8nsg7cnc1v
STATUSPAGE_API_KEY=ATCTT3xFfGN02e9DEBOtrMseUQpDKIy5f8LJnVkbqD3YZLfSxAgNkvYaRq_gtjAiGJ-tWFZnZFxPXLT7E3o8SrvEFlxR4lFKIUJl3QQ_qtsOlEMn4ntv4l_9HxbQb-GtE4KoFE7ygunwWV0hPARK5uo8vMTT5en3jruYsFGKKt_u4CSCB1ArUwg=7F31425B

# Component IDs
COMPONENT_WEB_ID=qp8rv1pw25y2
COMPONENT_DOCS_ID=9s3hfzhy68nl
COMPONENT_BOT_ID=2s1khtb7d7s7

# URLs to check for health
URL_CHECK_WEB=https://waverbot.com
URL_CHECK_DOCS=https://docs.waverbot.com
# Use an HTTP heartbeat or health check endpoint for the Discord bot
URL_CHECK_BOT=https://api.waverbot.com/health 

# Secret to secure the /api/cron route (optional)
CRON_SECRET=super_secret_cron_token
