# Server
PORT=5002

# Session
SECRET=secret

# Discord OAuth
DISCORD_CLIENT_ID=client_id
DISCORD_CLIENT_SECRET=client_secret
DISCORD_REDIRECT_URL=http://localhost:5002/api/auth/redirect
DISCORD_BOT_TOKEN=token

# Postgres Connection
POSTGRES_DB_HOST=localhost
POSTGRES_DB_USERNAME=testuser
POSTGRES_DB_PASSWORD=testuser
POSTGRES_DB_DATABASE=database
